<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gdtSincronizadorTran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gdtSincronizadorTran.Properties.Settings>
            <setting name="pendingDirectory" serializeAs="String">
                <value>D:\ADN\NET64_EKT\DT\WinApps\SyncCentral\Pendientes\</value>
            </setting>
            <setting name="processedDirectory" serializeAs="String">
                <value>D:\ADN\NET64_EKT\DT\WinApps\SyncCentral\Procesados\</value>
            </setting>
            <setting name="tmpDirectory" serializeAs="String">
                <value>D:\ADN\NET64_EKT\DT\WinApps\SyncCentral\TMP\</value>
            </setting>
            <setting name="numberOfTransactions" serializeAs="String">
                <value>4</value>
            </setting>
        </gdtSincronizadorTran.Properties.Settings>
    </userSettings>
</configuration>